@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-wrapper{
  overflow:hidden;
  transition-duration: 1s;
  position: relative;
}

img.hover-zoom:hover {
  transform: scale(1.25);
  width: 100%;
}