@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .d-none {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

.img-wrapper {
  overflow: hidden;
  transition-duration: 1s;
  position: relative;
}

img.hover-zoom:hover {
  transform: scale(1.25);
  width: 100%;
}

.children__no_shrink > * {
  flex: 0 0 auto;
}

